archetype-webservice/src/main/webapp/archetype-service.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://archetype.ws.endpoint/archetype-service" xmlns:ns1="http://archetype/ws/model" targetNamespace="http://archetype.ws.endpoint/archetype-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://archetype/ws/model" elementFormDefault="qualified" targetNamespace="http://archetype/ws/model">
      <xs:complexType name="fathers">
        <xs:sequence>
          <xs:element type="ns1:father" name="father" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="childrens">
        <xs:sequence>
          <xs:element type="ns1:children" name="children" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="children">
        <xs:sequence>
          <xs:element type="ns1:audit" name="audit" minOccurs="0"/>
          <xs:element type="ns1:father" name="father" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element type="xs:int" name="id" minOccurs="0"/>
          <xs:element type="xs:string" name="name" minOccurs="0"/>
          <xs:element type="xs:int" name="version" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="audit">
        <xs:sequence>
          <xs:element type="xs:dateTime" name="created" minOccurs="0"/>
          <xs:element type="xs:dateTime" name="modified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="father">
        <xs:sequence>
          <xs:element type="ns1:audit" name="audit" minOccurs="0"/>
          <xs:element type="ns1:children" name="children" minOccurs="0"/>
          <xs:element type="ns1:children" name="children" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element type="ns1:father" name="father" minOccurs="0"/>
          <xs:element type="ns1:father" name="father" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element type="xs:int" name="id" minOccurs="0"/>
          <xs:element type="xs:string" name="name" minOccurs="0"/>
          <xs:element type="xs:int" name="version" minOccurs="0"/>
          <xs:element type="xs:boolean" name="mother" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFathers">
        <xs:sequence>
          <xs:element type="xs:int" name="rows" minOccurs="0"/>
          <xs:element type="xs:int" name="start" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getChildrens">
        <xs:sequence>
          <xs:element type="xs:int" name="rows" minOccurs="0"/>
          <xs:element type="xs:int" name="start" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getFathers">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:getFathers" name="getFathers" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getFathersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:fathers" name="return" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getChildrens">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:getChildrens" name="getChildrens" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getChildrensResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="tns:childrens" name="return" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getFathersMessage">
    <wsdl:part name="part" element="ns1:getFathers"/>
  </wsdl:message>
  <wsdl:message name="getFathersResponseMessage">
    <wsdl:part name="part" element="ns1:getFathersResponse"/>
  </wsdl:message>
  <wsdl:message name="getChildrensMessage">
    <wsdl:part name="part" element="ns1:getChildrens"/>
  </wsdl:message>
  <wsdl:message name="getChildrensResponseMessage">
    <wsdl:part name="part" element="ns1:getChildrensResponse"/>
  </wsdl:message>
  <wsdl:portType name="archetype-servicePortType">
    <wsdl:operation name="getFathers">
      <wsdl:input message="tns:getFathersMessage"/>
      <wsdl:output message="tns:getFathersResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getChildrens">
      <wsdl:input message="tns:getChildrensMessage"/>
      <wsdl:output message="tns:getChildrensResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="archetype-serviceBinding" type="tns:archetype-servicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getFathers">
      <soap:operation soapAction="urn:getFathers"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChildrens">
      <soap:operation soapAction="urn:getChildrens"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="archetype-service">
    <wsdl:port name="archetype-servicePort" binding="tns:archetype-serviceBinding">
      <soap:address location="http://localhost:8080/archetype-webservice/archetype-service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>